/backend/__pycache__/
/backend/.env
/backend/venv
/venv
backend/routers/
backend/routers/__pycache__/users.cpython-312.pyc
backend/routers/__pycache__/venue.cpython-312.pyc
backend/utils/__pycache__/config.cpython-312.pyc
backend/utils/__pycache__/schema.cpython-312.pyc
backend/utils/__pycache__/db_helper.cpython-312.pyc
backend/routers/__pycache__/booking.cpython-312.pyc
backend/db.txt
frontend/AGENTS.md
frontend/CLAUDE.md
upload/
backend/utils/__pycache__/
stitch-assets/