/backend/__pycache__/
/.env
/.venv
/venv
backend/routers/
backend/routers/
backend/utils/
backend/routers/
backend/db.txt
frontend/AGENTS.md
frontend/CLAUDE.md
upload/
backend/utils/__pycache__/
stitch-assets/
alembic/__pycache__/
alembic/versions/__pycache__/
